#contentMobile {
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.spotify-player-mobile h2 {
  font-size: 3vw;
  color: white;
  text-align: center;
}

.youtube-container {
  width: 100%;
}

.youtube-container h2 {
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

.youtube-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.youtube-item {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.youtube-item:hover {
  transform: scale(1.02);
}

.youtube-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.youtube-item-title {
  font-size: 1rem;
  color: white;
  display: -webkit-box;
    -webkit-box-orient: vertical;
  overflow: hidden;
}

.youtube-item-date {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}
