.redes-container {
  text-align: center;
  color: white;
  padding: 2rem;
  opacity: 1 !important;
  transform: translateY(20px) !important;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cube-container {
  position: absolute;
  width: 90vh;
  height: 90vh;
  transform: translateY(-8rem)translateX(48rem) rotateZ(-45deg);
}

.cube {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  position: relative;
  transition: transform 0.5s ease;
  z-index: 1;
}

.cube-image {
  width: auto;
  height: 50%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  margin-left: -15rem; 
  rotate: 45deg;
}


.redes-wrapper {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 200vh;
  height: 80%;
  background: white;
  transform: translateX(220vh);
  transition: transform 1s ease;

}

.redes-wrapper.active {
  transform: translateX(0);
}

  .redes-title {
  position: fixed;
  color: rgb(0, 0, 0);
font-size: clamp(1.5rem, 4svh, 3rem); 
  text-transform: none;
  top: -2rem;
  z-index: 1;
  width: auto;
  transition: color 0.3s ease;
  background: rgb(255, 255, 255);
  margin-top: -2rem;
  left: 20%;  /* Center it */
  transform: translateX(-20%);
  mix-blend-mode: exclusion;
}

.redes-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100px;
  max-height: 100px;
  filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}


.redes-grid {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  justify-items: center;
  transform: translateX(-20rem)
  translateY(10rem);
  gap: 2rem;
  width: 35rem;
  margin: 1rem auto;
}

.redes-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: stretch;
  height: stretch;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.redes-link:hover {
  transform: translateY(-10px);
}

.redes-logo {
  width: stretch;
  height: stretch;
  object-fit: contain;
  max-width: 10vh;
  max-height: 10vh;
  margin-top: 2rem;
}

@media(max-width: 1199px) {
  .redes-container {
    padding: 0rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
 
  
  
  .redes-title {
    width: 80%;
 margin-left: 50%;
 margin-top: .05%;
    height: 100%;
    font-size: 2rem;
    overflow: hidden;
    }

    .redes-link {
      display: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
    }



    
    .redes-grid {
      position: absolute;
      width: 50%;
      gap: 1rem;
      margin-left: 20%;
      top: -1vh;
      z-index: 1;
    }

.cube-container {
      z-index: 5;
      margin-right: 60rem;
      margin-top: 10rem;
      scale: 1;
    }


  }
  /* iPad Air (820px x 1180px) */
  @media (width: 820px) and (height: 1180px) {
    .redes-grid {
      margin-top: 10rem !important;
      margin-left: 30%;
    }
    .cube-container {
      z-index: 5;
      margin-right: 62rem;
      margin-top: 10rem;
      scale: 1;
    }
    .cube-image {
  width: auto;
  height: 50%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  margin-left: -20rem; 
  rotate: 45deg;
}
  }
  
  /* iPad Pro 12.9" (1024px x 1366px) */
  @media (width: 1024px) and (height: 1366px) {
    .redes-grid {
      margin-top: 15rem !important;
      margin-left: 30%;
    }
     .cube-container {
      z-index: 5;
      margin-right: 50rem;
      margin-top: 12rem;
      scale: 1;
    }
    .cube-image {
  width: auto;
  height: 50%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  margin-left: -20rem;
  margin-top: 2rem; 
  rotate: 45deg;
}
  
  }
  
  
  
  @media (max-width: 768px) {
    .redes-container {
      width: 100%;
      height: 100%;
      padding: 1rem 0;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
    }

    .redes-title {
      width: stretch;
      height: auto;
  font-size: 1rem;
  align-content: top;
  z-index: 1;
 
      }


    .redes-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: stretch;
  height: stretch;
  border-radius: 0%;
  transition: transform 0.3s ease;
}

      .redes-grid {
        width: 100%;
        display: grid;
        margin-left: 40rem;
        size: 20rem;
        
      }

      .cube-container {
        z-index: 0;
        margin-right: 5rem;
      }
      
.redes-logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down ;
  max-width: 100px;
  max-height: 100px;
  filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0));
}

  }