.youtube-carousel {
    position: fixed;
    left: 3rem;
    top: 15rem;
    width: 500px;
    height: fit-content;
    z-index: 1000;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60rem;
}

.video-card {
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 50px;
}

.video-card:hover {
    transform: translateY(-5px);
}

.loading {
    color: #e7e7e7;
    text-align: center;
    padding: 2rem;
    background: rgb(44, 44, 44);
    border-radius: 10px;
}
